#LinkAmiibo{

    height: 10px;
    width: 15px;
}
#headphones{

    height: 10px;
    width: 10px;
}
#cactus{

    height: 10px;
    width: 10px;
}
#lightbulb{

    height: 10px;
    width: 10px;

}
#typewriter{

    height: 10px;
    width:10px;
}